<mat-toolbar>Current 40 Man Roster</mat-toolbar>
<mat-progress-spinner *ngIf="roster.length == 0; else loaded" color="primary" mode="indeterminate">
</mat-progress-spinner>
<ng-template #loaded>
<table>
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Number</th>
    </tr>
    <tr *ngFor="let player of roster | sortRoster | rosterPosition:'pitcher'; index as i">
        <td>{{player["position_txt"]}}</td>
        <td>{{player["name_display_first_last"]}}</td>
        <td>{{player["jersey_number"]}}</td>
    </tr>
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Number</th>
    </tr>
    <tr *ngFor="let player of roster | sortRoster | rosterPosition:'catcher'; index as i">
        <td>{{player["position_txt"]}}</td>
        <td>{{player["name_display_first_last"]}}</td>
        <td>{{player["jersey_number"]}}</td>
    </tr>
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Number</th>
    </tr>
    <tr *ngFor="let player of roster | sortRoster | rosterPosition:'infield'; index as i">
        <td>{{player["position_txt"]}}</td>
        <td>{{player["name_display_first_last"]}}</td>
        <td>{{player["jersey_number"]}}</td>
    </tr>
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Number</th>
    </tr>
    <tr *ngFor="let player of roster | sortRoster | rosterPosition:'outfield'; index as i">
        <td>{{player["position_txt"]}}</td>
        <td>{{player["name_display_first_last"]}}</td>
        <td>{{player["jersey_number"]}}</td>
    </tr>
</table>
</ng-template>