<div class="mat-app-background landing-panel">
  <div class="sub-header">Recent Transactions</div>
  <mat-progress-spinner *ngIf="trx.length == 0; else loaded" color="primary" mode="indeterminate">
  </mat-progress-spinner>
  <ng-template #loaded>
    <mat-table [dataSource]="trx | teamtrx:displayteam | nodupetrx">
      <ng-container matColumnDef="trx">
        <mat-header-cell *matHeaderCellDef>Recent Transactions</mat-header-cell>
        <mat-cell *matCellDef="let trx">{{trx["effective_date"] | date}} - {{trx["note"]}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-template>
</div>
