@import '~@angular/material/theming';


$mat-primary: (
  main: #a71930,
  lighter: #e5bac1,
  darker: #8c0e1e,
  200: #a71930, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team109theme-primary: mat-palette($mat-primary, main, lighter, darker);


$mat-accent: (
  main: #000000,
  lighter: #b3b3b3,
  darker: #000000,
  200: #000000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team109theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #30ced8,
  lighter: #c1f0f3,
  darker: #1ebcc8,
  200: #30ced8, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$team109theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team109theme: mat-light-theme($team109theme-primary, $team109theme-accent, $team109theme-warn);
