@import '~@angular/material/theming';

$mat-primary: (
  main: #bd3039,
  lighter: #ebc1c4,
  darker: #a61e24,
  200: #bd3039, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team111theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #0c2340,
  lighter: #b6bdc6,
  darker: #06152a,
  200: #0c2340, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team111theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #7c7a7a,
  lighter: #d8d7d7,
  darker: #5f5d5d,
  200: #7c7a7a, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team111theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team111theme: mat-light-theme($team111theme-primary, $team111theme-accent, $team111theme-warn);
