@import '~@angular/material/theming';

$mat-primary: (
  main: #0c2340,
  lighter: #b6bdc6,
  darker: #06152a,
  200: #0c2340, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team114theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #e31937,
  lighter: #f7bac3,
  darker: #d80e23,
  200: #e31937, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team114theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team114theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team114theme: mat-light-theme($team114theme-primary, $team114theme-accent, $team114theme-warn);
