@import '~@angular/material/theming';

$mat-primary: (
  main: #eb6e1f,
  lighter: #f9d4bc,
  darker: #e25112,
  200: #eb6e1f, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team117theme-primary: mat-palette($mat-primary, main, lighter, darker);


$mat-accent: (
  main: #002d62,
  lighter: #b3c0d0,
  darker: #001c46,
  200: #002d62, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team117theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team117theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team117theme: mat-light-theme($team117theme-primary, $team117theme-accent, $team117theme-warn);
