@import '~@angular/material/theming';

$mat-primary: (
  main: #002f6c,
  lighter: #b3c1d3,
  darker: #001d4f,
  200: #002f6c, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #a5acaf,
  lighter: #e4e6e7,
  darker: #8a9296,
  200: #a5acaf, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #ef3e42,
  lighter: #fac5c6,
  darker: #e8282b,
  200: #ef3e42, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team119theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
