@import '~@angular/material/theming';

$mat-primary: (
  main: #002b5c,
  lighter: #b3bfce,
  darker: #001a41,
  200: #002b5c, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team142theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #d31145,
  lighter: #f2b8c7,
  darker: #c20a2e,
  200: #d31145, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team142theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #b9975b,
  lighter: #eae0ce,
  darker: #a27a40,
  200: #b9975b, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team142theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team142theme: mat-light-theme($team142theme-primary, $team142theme-accent, $team142theme-warn);
