@import '~@angular/material/theming';

$mat-primary: (
  main: #002d72,
  lighter: #b3c0d5,
  darker: #001c55,
  200: #002d72, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team121theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #ff5910,
  lighter: #ffcdb7,
  darker: #ff3e09,
  200: #ff5910, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team121theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team121theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team121theme: mat-light-theme($team121theme-primary, $team121theme-accent, $team121theme-warn);
