@import '~@angular/material/theming';

$mat-primary: (
  main: #003831,
  lighter: #b3c3c1,
  darker: #00241f,
  200: #003831, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team133theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #efb21e,
  lighter: #fae8bc,
  darker: #e89912,
  200: #efb21e, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$team133theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team133theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team133theme: mat-light-theme($team133theme-primary, $team133theme-accent, $team133theme-warn);
