@import '~@angular/material/theming';

$mat-primary: (
  main: #fdb827,
  lighter: #feeabe,
  darker: #fca017,
  200: #fdb827, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$team134theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #27251f,
  lighter: #bebebc,
  darker: #171612,
  200: #27251f, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team134theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team134theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team134theme: mat-light-theme($team134theme-primary, $team134theme-accent, $team134theme-warn);
