@import '~@angular/material/theming';

$mat-primary: (
  main: #005c5c,
  lighter: #b3cece,
  darker: #004141,
  200: #005c5c, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team136theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #0c2c56,
  lighter: #b6c0cc,
  darker: #061b3c,
  200: #0c2c56, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team136theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #d50032,
  lighter: #f2b3c2,
  darker: #c4001f,
  200: #d50032, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team136theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team136theme: mat-light-theme($team136theme-primary, $team136theme-accent, $team136theme-warn);
