@import '~@angular/material/theming';

$mat-primary: (
  main: #c41e3a,
  lighter: #edbcc4,
  darker: #af1225,
  200: #c41e3a, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team138theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #0c2340,
  lighter: #b6bdc6,
  darker: #06152a,
  200: #0c2340, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team138theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #fedb00,
  lighter: #fff4b3,
  darker: #fecd00,
  200: #fedb00, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$team138theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team138theme: mat-light-theme($team138theme-primary, $team138theme-accent, $team138theme-warn);
