@import '~@angular/material/theming';

$mat-primary: (
  main: #8fbce6,
  lighter: #ddebf8,
  darker: #72a5db,
  200: #8fbce6, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$team139theme-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #092c5c,
  lighter: #b5c0ce,
  darker: #051b41,
  200: #092c5c, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team139theme-accent: mat-palette($mat-accent, main, lighter, darker);

$mat-warn: (
  main: #f5d130,
  lighter: #fcf1c1,
  darker: #f0c01e,
  200: #f5d130, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$team139theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team139theme: mat-light-theme($team139theme-primary, $team139theme-accent, $team139theme-warn);
