<div class="mat-app-background">
    <div class="sub-header">Batting Leaders</div>
    <mat-progress-spinner *ngIf="hitters.length == 0; else loaded" color="primary" mode="indeterminate">
    </mat-progress-spinner>
    <ng-template #loaded>
        <mat-tab-group color="primary" backgroundColor="accent" mat-stretch-tabs>
            <mat-tab label="OPS">
                <mat-table [dataSource]="hitters | minplate:'100' | playerbyteam:displayteam | leadersDesc:'ops'">
                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
                        <mat-cell *matCellDef="let hitter"> {{hitter["player"] | nameFirstLast}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="OPS">
                        <mat-header-cell *matHeaderCellDef> OPS </mat-header-cell>
                        <mat-cell *matCellDef="let hitter"> {{hitter["ops"]}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="opsColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: opsColumns;"></mat-row>
                </mat-table>
            </mat-tab>
            <mat-tab label="HR">
                <mat-table [dataSource]="hitters | minplate:'100' | playerbyteam:displayteam | leadersDesc:'hr'">
                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
                        <mat-cell *matCellDef="let hitter"> {{hitter["player"] | nameFirstLast}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="HR">
                        <mat-header-cell *matHeaderCellDef> HR </mat-header-cell>
                        <mat-cell *matCellDef="let hitter"> {{hitter["hr"]}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="hrColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: hrColumns;"></mat-row>
                </mat-table>
            </mat-tab>
            <mat-tab label="AVG">
                <mat-table [dataSource]="hitters | minplate:'100' | playerbyteam:displayteam | leadersDesc:'avg'">
                    <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
                        <mat-cell *matCellDef="let hitter"> {{hitter["player"] | nameFirstLast}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="AVG">
                        <mat-header-cell *matHeaderCellDef> AVG </mat-header-cell>
                        <mat-cell *matCellDef="let hitter"> {{hitter["avg"]}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="avgColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: avgColumns;"></mat-row>
                </mat-table>
            </mat-tab>
        </mat-tab-group>
    </ng-template>
</div>
