.login-holder {
    min-width: 320px;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login-section {
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 0;
}

.login-button {
    width: 120px;
    height: 36px;
}
