<div class="login-position">
    <div class="login-centerer">
        <form [formGroup]="loginForm" (ngSubmit)="loginCheck()">
            <div class="login-holder floating-panel">
                <mat-toolbar color="primary">
                    <h3>Welcome to Baseball App</h3>
                </mat-toolbar>
                <div class="login-section padding-top">
                    <mat-form-field appearance="fill">
                        <mat-label>Username:</mat-label>
                        <input matInput type="text" formControlName="username" placeholder="Username">
                        <mat-hint>Usernames are at least 4 characters.</mat-hint>
                        <mat-error
                            *ngIf="!loginForm.valid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)">
                            Username does not meet requirements.</mat-error>
                    </mat-form-field>
                </div>
                <div class="login-section">
                    <mat-form-field appearance="fill">
                        <mat-label>Password:</mat-label>
                        <input matInput type="password" formControlName="password" placeholder="Password">
                        <mat-hint>Hopefully, you remember it.</mat-hint>
                        <mat-error
                            *ngIf="!loginForm.valid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
                            Passwords are at least 8 characters.</mat-error>
                    </mat-form-field>
                </div>
                <div class="login-section">
                    <button class="login-button" mat-raised-button color="primary" type="submit"
                        [disabled]="!loginForm.valid">Log In</button>
                </div>
                <div class="login-section">
                    <button class="login-button" mat-raised-button color="accent" [routerLink]="['/signup/']">New? Sign
                        Up</button>
                </div>
            </div>
        </form>
    </div>
</div>
