.login-holder {
    min-width: 320px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-section {
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    padding-bottom: 16px;
}

.login-button {
    width: 120px;
    height: 36px;
}

.padding-top {
    padding-top: 16px;
}

.login-position {
    display: flex;
    justify-content: center;
}
.login-centerer {
    flex: 0 1 500px;
}

@media (min-width: 505px) {
    .login-position {
        height: 100vh;
        align-items: center;
    }
}