@import '~@angular/material/theming';

// Theme Config

body {
  --primary-color: #df4601;
  --primary-lighter-color: #f5c8b3;
  --primary-darker-color: #d22f01;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #df4601,
  lighter: #f5c8b3,
  darker: #d22f01,
  200: #df4601, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team110theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #000000;
  --accent-lighter-color: #b3b3b3;
  --accent-darker-color: #000000;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #000000,
  lighter: #b3b3b3,
  darker: #000000,
  200: #000000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team110theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #fbd872;
  --warn-lighter-color: #fef3d5;
  --warn-darker-color: #f9c855;
  --text-warn-color: #{$dark-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$dark-primary-text};
}

$mat-warn: (
  main: #fbd872,
  lighter: #fef3d5,
  darker: #f9c855,
  200: #fbd872, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$team110theme-warn: mat-palette($mat-warn, main, lighter, darker);;

$team110theme: mat-light-theme($team110theme-primary, $team110theme-accent, $team110theme-warn);
