@import '~@angular/material/theming';

body {
  --primary-color: #27251f;
  --primary-lighter-color: #bebebc;
  --primary-darker-color: #171612;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #27251f,
  lighter: #bebebc,
  darker: #171612,
  200: #27251f, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team145theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #c4ced4;
  --accent-lighter-color: #edf0f2;
  --accent-darker-color: #afbcc3;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
}

$mat-accent: (
  main: #c4ced4,
  lighter: #edf0f2,
  darker: #afbcc3,
  200: #c4ced4, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$team145theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team145theme-warn: mat-palette($mat-warn, main, lighter, darker);;

$team145theme: mat-light-theme($team145theme-primary, $team145theme-accent, $team145theme-warn);
