@import '~@angular/material/theming';

body {
  --primary-color: #00a3e0;
  --primary-lighter-color: #b3e3f6;
  --primary-darker-color: #41748d;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #00a3e0,
  lighter: #b3e3f6,
  darker: #41748d,
  200: #00a3e0, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team146theme-primary: mat-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #ef3340;
  --accent-lighter-color: #fac2c6;
  --accent-darker-color: #e8202a;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}

$mat-accent: (
  main: #ef3340,
  lighter: #fac2c6,
  darker: #e8202a,
  200: #ef3340, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team146theme-accent: mat-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #000000;
  --warn-lighter-color: #b3b3b3;
  --warn-darker-color: #000000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}

$mat-warn: (
  main: #000000,
  lighter: #b3b3b3,
  darker: #000000,
  200: #000000, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$team146theme-warn: mat-palette($mat-warn, main, lighter, darker);

$team146theme: mat-light-theme($team146theme-primary, $team146theme-accent, $team146theme-warn);
