<p>pitching-display works!</p>

<mat-table matSort matSortDisableClear="true" [dataSource]="pitchers | minip:50">
    <!-- Player Name Col -->
    <ng-container matColumnDef="player">
      <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
      <mat-cell *matCellDef="let pitcher"> {{pitcher["player"] | nameFirstLast}} </mat-cell>
    </ng-container>
  
    <!-- HR COL -->
    <ng-container matColumnDef="fip">
      <mat-header-cell *matHeaderCellDef mat-sort-header> FIP </mat-header-cell>
      <mat-cell *matCellDef="let pitcher"> {{pitcher["fip"]}} </mat-cell>
    </ng-container>
  
    <!-- OPS COL -->
    <ng-container matColumnDef="so">
      <mat-header-cell *matHeaderCellDef mat-sort-header> K </mat-header-cell>
      <mat-cell *matCellDef="let pitcher"> {{pitcher["so"]}} </mat-cell>
    </ng-container>
  
    <!-- SLG Column -->
    <ng-container matColumnDef="era">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ERA </mat-header-cell>
      <mat-cell *matCellDef="let pitcher"> {{pitcher["era"]}} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>