<div class="display-wrapper">
  <app-userheader></app-userheader>
  <app-search-interface></app-search-interface>
  <div class="display-container">
    <mat-table matSort matSortDisableClear="true" (matSortChange)="sortTable($event)" [dataSource]="pitchdata">
      <ng-container matColumnDef="player" sticky>
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["player"] | nameFirstLast}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["name"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="w">
        <mat-header-cell *matHeaderCellDef mat-sort-header> W </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["w"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="l">
        <mat-header-cell *matHeaderCellDef mat-sort-header> L </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["l"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="sv">
        <mat-header-cell *matHeaderCellDef mat-sort-header> SV </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["sv"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="g">
        <mat-header-cell *matHeaderCellDef mat-sort-header> G </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["g"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="gs">
        <mat-header-cell *matHeaderCellDef mat-sort-header> GS </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["gs"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ip">
        <mat-header-cell *matHeaderCellDef mat-sort-header> IP </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["ip"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="so">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> K </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["so"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="bb">
        <mat-header-cell *matHeaderCellDef mat-sort-header> BB </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["bb"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="hr">
        <mat-header-cell *matHeaderCellDef mat-sort-header> HR </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["hr"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="era">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ERA </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["era"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fip">
        <mat-header-cell *matHeaderCellDef mat-sort-header> FIP </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["fip"]}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[15,30,60]"></mat-paginator>
    </div>
    <app-userfooter></app-userfooter>
  </div>