@import '~@angular/material/theming';

@mixin footer-config-theme($theme) {
    $primary: map-get($theme, primary);
    
    .footer-container {
        background-color: mat-color($primary);
        color: mat-color($primary, default-contrast); 
    }
    a.footer-link:link,a.footer-link:visited {
        color: mat-color($primary, default-contrast);
    }
}