@import '~@angular/material/theming';

@mixin leaders-widget-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    
    .leaders-widget {
        border-color: mat-color($primary);
        border-style: solid;
        border-width: 1px;
    }
}