// this is a template theme imported to index.scss

@import '~@angular/material/theming';

@mixin landing-panels-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

        .landing-panel {
        border: solid 2px map-get($primary, main);
        border-radius: 5px;
        }
}