<div class="display-wrapper">
  <app-userheader></app-userheader>
  <app-search-interface></app-search-interface>
  <div class="results-display">
    <mat-table matSort matSortDisableClear="true" [dataSource]="hitdata" (matSortChange)="sortTable($event)">
      <ng-container matColumnDef="name" sticky>
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["player"] | nameFirstLast}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="hr">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> HR </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["hr"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ops">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> OPS </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["ops"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="slg">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> SLG </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["slg"]}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[15,30,60]"></mat-paginator>
  </div>
  <app-userfooter></app-userfooter>
</div>