<nav>
  <button (click)="setpos($event)" id="all">ALL</button><button (click)="setpos($event)" id="C">C</button><button
    (click)="setpos($event)" id="1B">1B</button><button (click)="setpos($event)" id="2B">2B</button><button
    (click)="setpos($event)" id="SS">SS</button><button (click)="setpos($event)" id="3B">3B</button><button
    (click)="setpos($event)" id="LF">LF</button><button (click)="setpos($event)" id="CF">CF</button><button
    (click)="setpos($event)" id="RF">RF</button><button (click)="setpos($event)" id="ALLOF">OF</button>
  <mat-form-field>
    <mat-label for="paselect">Min PA:</mat-label>
    <input matInput [(ngModel)]="paselect">
  </mat-form-field>
  <mat-form-field>
    <mat-label for="teamlist">Select Team</mat-label>
    <mat-select [(ngModel)]="teamview">
        <mat-option value="allteams">All MLB</mat-option>
        <mat-option *ngFor="let team of teamlist; index as i" value="{{team['mlb_org_id']}}">
            {{team["name_display_full"]}}</mat-option>
    </mat-select>
</mat-form-field>
</nav>

<mat-table matSort [dataSource]="hitters | minplate:paselect | playerbypos:filterpos | playerbyteam:teamview">
  <!-- Player Name Col -->
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
    <mat-cell *matCellDef="let hitter"> {{hitter["player"] | nameFirstLast}} </mat-cell>
  </ng-container>

  <!-- HR COL -->
  <ng-container matColumnDef="HR">
    <mat-header-cell *matHeaderCellDef mat-sort-header> HR </mat-header-cell>
    <mat-cell *matCellDef="let hitter"> {{hitter["hr"]}} </mat-cell>
  </ng-container>

  <!-- OPS COL -->
  <ng-container matColumnDef="OPS">
    <mat-header-cell *matHeaderCellDef mat-sort-header> OPS </mat-header-cell>
    <mat-cell *matCellDef="let hitter"> {{hitter["ops"]}} </mat-cell>
  </ng-container>

  <!-- SLG Column -->
  <ng-container matColumnDef="SLG">
    <mat-header-cell *matHeaderCellDef mat-sort-header> SLG </mat-header-cell>
    <mat-cell *matCellDef="let hitter"> {{hitter["slg"]}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>