<div class="flex-row mat-app-background">
    <div id="main" class="">
        <div class="flex-100">
            <div class="flex-100">
                <app-team-desc></app-team-desc>
            </div>
            <div class="flex-100">
                <app-team-roster></app-team-roster>
            </div>
        </div>
    </div>
    <div id="side" class="">
        <div id="hitlead" class="">
            <app-team-hit-leaders></app-team-hit-leaders>
        </div>
        <div id="pitchlead" class="">
            <app-team-pitch-leaders></app-team-pitch-leaders>
        </div>
        <div id="trans">
            <app-team-trx></app-team-trx>
        </div>
    </div>
</div>
