<app-userheader></app-userheader>
<div id="landing" [ngClass]="'bg' + this.curteam">
    <mat-toolbar color="primary">{{teamdata["name_display_full"]}}</mat-toolbar>
    <div class="flex-row mat-app-background">
        <div id="main" class="flex-row flex-grow">
            <div class="flex-100">
                <div class="flex-100 panel-padding">
                    <app-team-desc></app-team-desc>
                </div>
                <div class="flex-100 bottom-padding">
                    <app-team-roster></app-team-roster>
                </div>
            </div>
        </div>
        <div id="side" class="flex-row flex-grow flex-480px">
            <div id="hitlead" class="flex-grow flex-480px panel-padding">
                <app-team-hit-leaders></app-team-hit-leaders>
            </div>
            <div id="pitchlead" class="flex-grow flex-480px panel-padding">
                <app-team-pitch-leaders></app-team-pitch-leaders>
            </div>
            <div id="trans" class="flex-grow flex-480px bottom-padding">
                <app-team-trx></app-team-trx>
            </div>
        </div>
    </div>
</div>
<app-userfooter></app-userfooter>