<div [ngClass]="'bg'+ (this.curteam$ | async)">
    <div>
        <mat-form-field>
            <mat-label for="reportlist">Select Report</mat-label>
            <mat-select [(ngModel)]="searchmode">
                <mat-option value="curhitting">Search Batting Statistics</mat-option>
                <mat-option value="curpitching">Search Pitching Statistics</mat-option>
                <mat-option value="landing">View Team Summary</mat-option>
                <mat-option value="alltrans">Search Leaguewide Transactions</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="teamlist">Select Team</mat-label>
            <mat-select [(ngModel)]="nextteam">
                <mat-option *ngIf="searchmode != 'landing'" value="allteams">All MLB</mat-option>
                <mat-option *ngFor="let team of teamlist | sortTeam:curteam; index as i"
                    value="{{team['mlb_org_id']}}">
                    {{team["name_display_full"]}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="start">Select Start Date</mat-label>
            <input matInput min="minDate" max="maxDate" [matDatepicker]='start'[formControl]="stdate">
            <mat-datepicker-toggle matSuffix [for]='start'></mat-datepicker-toggle>
            <mat-datepicker #start></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="end">Select End Date</mat-label>
            <input matInput min="minDate" max="maxDate" [matDatepicker]='end'[formControl]="enddate">
            <mat-datepicker-toggle matSuffix [for]='end'></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
        </mat-form-field>
        <button (click)="logit()">LOGIT</button>
        
    </div>

    <button class='btn btn-primary' (click)="searchInit()">CLICK ME</button>

    <router-outlet></router-outlet>
</div>