.interface-position {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-width: 480px;
    overflow: auto;
}

.search-control-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: space-between;
    flex: 0 0 420px;
}

.search-field-container {
    flex: 0 0 180px;
}

.search-field-container,.search-button-holder {
    height: 57px;
}

.search-positional-toggles {
    padding: 16px 0;
    flex: 0 0 420px;
}

.button-spacing-container {
    align-items: center;
    display: flex;
    height: 57px;
    justify-content: flex-end;
}

.search-button {
    max-width: 76px;
    max-height: 36px;
}


@media (max-width: 775px) {
    .search-field-container.search-report-select,.search-button-holder {
        flex: 0 0 100%;
    }
}