<app-userheader></app-userheader>
<div [ngClass]="'bg'+ this.curteam">
    <div><label for="teamlist">Select Team</label><select [(ngModel)]="nextteam">
            <option *ngFor="let team of teamlist | sortTeam:curteam; index as i" value="{{team['mlb_org_id']}}">
                {{team["name_display_full"]}}</option>
        </select></div>
    <div><label for="reportlist">Select Report</label><select [(ngModel)]="searchmode">
            <option value="curhitting">Current Batting Leaders</option>
            <option value="curpitching">Current Pitching Leaders</option>
            <option value="roster">Current 40 Man Roster</option>
        </select></div>

    <button class='btn btn-primary' (click)="searchInit()">CLICK ME</button>
<app-roster-display *ngIf="searchmode==='roster'" [roster]="roster" [searchmode]="searchpick"></app-roster-display>

</div>
<!-- <router-outlet [roster]="roster" [searchmode]="searchpick"></router-outlet> -->