.signup-holder {
    min-width: 320px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-section {
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    padding-bottom: 16px;
}

.signup-button {
    width: 144px;
    height: 36px;
}

.padding-top {
    padding-top: 16px;
}

.signup-position {
    display: flex;
    justify-content: center;
}
.signup-centerer {
    flex: 0 1 500px;
}

.toolbar-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.toolbar-content {
    flex: 0 0 180px;
}

.toolbar-button {
    flex: 0 0 64px;
}

@media (min-width: 505px) {
    .signup-position {
        height: 100vh;
        align-items: center;
    }
}