<div class="signup-position">
    <div class="signup-centerer">
        <div class="signup-holder floating-panel">
            <mat-toolbar class="toolbar-container" color="primary">
                <div class="toolbar-content">Register New User</div>
                <div class="toolbar-button"><button type="button" mat-raised-button color="accent"
                        [routerLink]="['/login']">Back</button></div>
            </mat-toolbar>
            <form [formGroup]="newSignup" (ngSubmit)="onSubmit($event)">
                <div class="signup-section padding-top">
                    <mat-form-field>
                        <mat-label for="username">Enter Username:</mat-label>
                        <input matInput formControlName="username" placeholder="e.g. Mike">
                        <mat-hint>Usernames are 4 to 12 characters.</mat-hint>
                        <mat-error>Usernames are 4 to 12 characters.</mat-error>
                    </mat-form-field>
                </div>
                <div class="signup-section">
                    <mat-form-field>
                        <mat-label for="password">Enter Password</mat-label>
                        <input matInput formControlName="password" type="password"
                            placeholder="Everyone else is 'password'">
                        <mat-error
                            *ngIf="!newSignup.valid && (newSignup.controls.password.dirty || newSignup.controls.password.touched)">
                            Passwords must be between 6 and 32 characters.</mat-error>
                    </mat-form-field>
                </div>
                <div class="signup-section">
                    <mat-form-field>
                        <mat-label for="confirm">Confirm Password</mat-label>
                        <input matInput formControlName="confirm" type="password" placeholder="You just typed it."
                            [errorStateMatcher]="matcher">
                        <mat-error
                            *ngIf="newSignup.hasError('mismatch') && (newSignup.controls.confirm.dirty || newSignup.controls.confirm.touched || newSignup.controls.password.dirty || newSignup.controls.password.touched)">
                            Passwords do not match.</mat-error>
                    </mat-form-field>
                </div>
                <div class="signup-section">
                    <mat-form-field>
                        <mat-label for="favteam">Select Favorite Team</mat-label>
                        <mat-select formControlName="favteam">
                            <mat-option *ngFor="let team of teamlist; index as i" value="{{team['mlb_org_id']}}">
                                {{team["name_display_brief"]}}</mat-option>
                            <mat-hint>You must select a favorite team.</mat-hint>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="signup-section">
                    <button class="signup-button" mat-raised-button color="primary" type="submit"
                        [disabled]="!newSignup.valid">Complete Sign
                        Up</button>
                </div>
            </form>
        </div>
    </div>
</div>