<div class="header-wrapper">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <header class="header-container">
                <div class="header-welcome">
                    <span>Welcome</span>

                    <button mat-button [matMenuTriggerFor]="teammenu">Teams</button>
                    <mat-menu #teammenu="matMenu">
                        <button mat-menu-item *ngFor="let team of teamlist"
                            (click)="viewteam(team['mlb_org_id'])">{{team["name_display_brief"]}}</button>
                    </mat-menu>
                    <button mat-button [matMenuTriggerFor]="searchmenu">Stats</button>
                    <mat-menu #searchmenu="matMenu">
                        <button mat-menu-item (click)="viewstats('hitting')">Hitting</button>
                        <button mat-menu-item (click)="viewstats('pitching')">Pitching</button>
                        <button mat-menu-item (click)="viewstats('trans')">Transactions</button>
                    </mat-menu>
                </div>
                <div class="header-button">
                    <button mat-flat-button color="warn" [matMenuTriggerFor]="usermenu">{{username}}</button>
                    <mat-menu #usermenu="matMenu">
                        <button mat-menu-item (click)="logout()">LOGOUT</button>
                    </mat-menu>
                </div>
            </header>
        </mat-toolbar-row>
    </mat-toolbar>
</div>