header {
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.header-welcome {
    flex: 0 0 150px;
}

.header-button {
    flex: 0 0 80px;
}

.header-wrapper {
    width: 100%;
}