/* You can add global styles to this file, and also import other style files */

.bg119 {
    background-color: rgb(0,47,108);
    color: white;
}

.bg109 {
    background-color: rgb(167,25,48);
    color: rgb(227,212,173);
}
    
.bg144 {
    background-color: rgb(19, 39, 79);
    color: white;
}    

.bg110 {
    background-color: rgb(223,70,1);
    color: white;
}

.bg111 {
    background-color: rgb(189, 48, 57);
    color: white;
}

.bg112 {
    background-color: rgb(14,51,134);
    color: white;
}
.bg145 {
    background-color: black;
    color: rgb(196,206,212);
}
.bg113 {
    background-color: rgb(198,1,31);
    color: white;
}

.bg114 {
    background-color: rgb(227,25,55);
    color: white;
}

.bg115 {
    background-color: rgb(51,0,111);
    color: rgb(196,206,212)
}

.bg116 {
    background-color: rgb(12,35,64);
    color: white;
}

.bg117 {
    background-color: rgb(235,110,31);
    color: rgb(0,45,98);
}

.bg118 {
    background-color: rgb(0,70,135);
    color: rgb(189,155,96);
}

.bg108 {
    background-color: rgb(186,0,33);
    color:white;
}
.bg146 {
    background-color: rgb(0,163,224);
    color: rgb(239,51,64)
}

.bg158 {
    color: rgb(182,146,46);
    background-color: rgb(19,41,75);
}

.bg142 {
    background-color: rgb(19,41,75);
    color: rgb(185,151,91)
}

.bg121 {
    background-color: rgb(0,45, 114);
    color: rgb(252,89,16);
}

.bg147 {
    background-color: rgb(12,35,64);
    color: white;
}

.bg133 {
    background-color: rgb(0,56,49);
    color: rgb(239,178,30);
}

.bg143 {
    background-color: rgb(232,24,40);
    color: white;
}

.bg134 {
    background-color: rgb(255,199,44);
    color: black;
}
.bg138 {
    background-color: rgb(196,30,58);
    color: white;
}

.bg135 {
    background-color: rgb(47,36,29);
    color: rgb(255,196,37);
}

.bg137 {
    background-color: rgb(253,90,30);
    color: black;
}

.bg136 {
    background-color: rgb(0,92,92);
    color:  rgb(12,44,86)
}

.bg139  {
    background-color: rgb(9,44,92);
    color: rgb(143,188,230)
}

.bg140  {
    background-color: rgb(0,50,120);
    color: rgb(192,17,31)
}

.bg141  {
    background-color: rgb(19,74,142);
    color: white;
}

.bg120  {
    background-color: rgb(171,0,3);
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
