// Material Theming
@import '~@angular/material/theming';
// Team Theme Files
@import '../src/app/shared/team-theme-scss/index.scss';
// Master custom component theme
@import '../src/app/shared/custom-component-scss/index.scss';
// space to import WIP theme
// @import '../src/app/shared/custom-component-scss/widescreen-landing-panels.scss';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
     
$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base:              $light-text,
  divider:           $light-dividers,
  dividers:          $light-dividers,
  disabled:          $light-disabled-text,
  disabled-button:   rgba($light-text, 0.3),
  disabled-text:     $light-disabled-text,
  elevation:         black,
  hint-text:         $light-disabled-text,
  secondary-text:    $light-accent-text,
  accent-text:       $light-accent-text,
  icon:              $light-text,
  icons:             $light-text,
  text:              $light-text,
  slider-min:        $light-text,
  slider-off:        rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background:    #fafafa;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Dark bg
$dark-background:     #2c2c2c;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);

// Compute font config
@include mat-core($fontConfig);

body.mat-app-background {
  margin: 0;
}

.bg119, #landing.bg119 {
  @include angular-material-theme($team119theme);
  @include custom-component-themes($team119theme);
  // import of WIP theme
  // @include landing-panels-theme($team119theme);
}

.bg109, #landing.bg109 {
  @include angular-material-theme($team109theme);
  @include custom-component-themes($team109theme);
}

.bg145, #landing.bg145 {
  @include angular-material-theme($team145theme);
  @include custom-component-themes($team145theme);
}
  
.bg111, #landing.bg111 {
  @include angular-material-theme($team111theme);
  @include custom-component-themes($team111theme);
}

.bg110, #landing.bg110 {
  @include angular-material-theme($team110theme);
  @include custom-component-themes($team110theme);
}

.bg112, #landing.bg112 {
  @include angular-material-theme($team112theme);
  @include custom-component-themes($team112theme);
}

.bg113, #landing.bg113 {
  @include angular-material-theme($team113theme);
  @include custom-component-themes($team113theme);
}

.bg114, #landing.bg114 {
  @include angular-material-theme($team114theme);
  @include custom-component-themes($team114theme);
}

.bg116, #landing.bg116 {
  @include angular-material-theme($team116theme);
  @include custom-component-themes($team116theme);
}

.bg117, #landing.bg117 {
  @include angular-material-theme($team117theme);
  @include custom-component-themes($team117theme);
}

.bg118, #landing.bg118 {
  @include angular-material-theme($team118theme);
  @include custom-component-themes($team118theme);
}

.bg108, #landing.bg108 {
  @include angular-material-theme($team108theme);
  @include custom-component-themes($team108theme);
}

.bg142, #landing.bg142 {
  @include angular-material-theme($team142theme);
  @include custom-component-themes($team142theme);
}

.bg147, #landing.bg147 {
  @include angular-material-theme($team147theme);
  @include custom-component-themes($team147theme);
}

.bg133, #landing.bg133 {
  @include angular-material-theme($team133theme);
  @include custom-component-themes($team133theme);
}

.bg136, #landing.bg136 {
  @include angular-material-theme($team136theme);
  @include custom-component-themes($team136theme);
}

.bg139, #landing.bg139 {
  @include angular-material-theme($team139theme);
  @include custom-component-themes($team139theme);
}

.bg140, #landing.bg140 {
  @include angular-material-theme($team140theme);
  @include custom-component-themes($team140theme);
}

.bg141, #landing.bg141 {
  @include angular-material-theme($team141theme);
  @include custom-component-themes($team141theme);
}

.bg144, #landing.bg144 {
  @include angular-material-theme($team144theme);
  @include custom-component-themes($team144theme);
}

.bg115, #landing.bg115 {
  @include angular-material-theme($team115theme);
  @include custom-component-themes($team115theme);
}

.bg146, #landing.bg146 {
  @include angular-material-theme($team146theme);
  @include custom-component-themes($team146theme);
}

.bg158, #landing.bg158 {
  @include angular-material-theme($team158theme);
  @include custom-component-themes($team158theme);
}

.bg121, #landing.bg121 {
  @include angular-material-theme($team121theme);
  @include custom-component-themes($team121theme);
}

.bg143, #landing.bg143 {
  @include angular-material-theme($team143theme);
  @include custom-component-themes($team143theme);
}

.bg134, #landing.bg134 {
  @include angular-material-theme($team134theme);
  @include custom-component-themes($team134theme);
}

.bg135, #landing.bg135 {
  @include angular-material-theme($team135theme);
  @include custom-component-themes($team135theme);
}

.bg137, #landing.bg137 {
  @include angular-material-theme($team137theme);
  @include custom-component-themes($team137theme);
}

.bg138, #landing.bg138 {
  @include angular-material-theme($team138theme);
  @include custom-component-themes($team138theme);
}

.bg120, #landing.bg120 {
  @include angular-material-theme($team120theme);
  @include custom-component-themes($team120theme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-button-toggle-label-content {
  min-width: 24px;
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}
